.navbar {
    overflow: hidden;
    background-color: #333;
    border-bottom:purple solid 4px;
    position: fixed;
    width: 100%;
    top: 0;
    display:block;
    display:inline-block ;
    
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f5b9b9;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .navbar a:hover {
    background: rgb(52, 247, 13);
    color: black;
  }
  .navbar ul {
    list-style-type: none;
  }
  body{
    box-sizing:border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2019/01/30/07/45/web-3963944__340.jpg");
    background-size:cover;
  }
  .body{
      margin-top: 500px;
      color: #f5b9b9;
      text-align: center;
      justify-content:center center;
      padding: 100px;

}
span{
    color:rgb(52, 247, 13);
}
#image{
  align-items: center;
  height:200px;
  width:200px;
  border-style: groove;
}
.two{
  background:blanchedalmond;
  font-size:30px;
  text-emphasis: wrap;
  margin-top:300px;
}
h2,h3{
 text-align: center;
}
p{
font-family:'Baskervville', serif;  
}
.three{
  background:blanchedalmond;
  font-size:30px;
  text-emphasis: wrap;
  margin-top:500px;
}